{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ article.title }} {% endblock title %}</h1>
        <a class=" text-muted" href="{% url 'blog:profile' article.author.id%}">{{ article.author }}</a>
        <p class="card-text ">{{ article.text }}</p>
        <p>Likes: {{article.likes}}, Dislikes: {{article.dislikes}}</p>
      </div>
    </div>
  </div>

  <div class="button-container">
      {% if user.is_authenticated %}
      <form action = 'like' method = 'POST'>
        {% csrf_token %}
        {% ifequal show_liked "like"%}
        <button class="btn btn-dark buttons" type="submit">Like</button>
        {% else %}
        <button class="btn btn-light buttons" type="submit">Like</button>
        {% endifequal %}
      </form>

      <form action='dislike' method='POST'>
        {% csrf_token %}
        {% ifequal show_liked "dislike"%}
        <button class="btn btn-dark buttons" type="submit">Dislike</button>
        {% else %}
        <button class="btn btn-light buttons" type="submit">Dislike</button>
        {% endifequal %}
      </form>

      {% if show_edit%}
      <a href="{% url 'blog:edit_article' article.id%}"><button class="btn btn-light buttons" type="button">Edit</button></a>
      {%endif%}

      {% endif %}
  </div>
</div>

{% endblock content %}
