{% extends 'blog/base.html' %}
{% block content %}

<div class="container login">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3">
      <div class="card-body">
        <p>Welcome to your profile <strong>{{user.username}}</strong></p>
        <p><strong>Your articles:</strong></p>
        <ul>
          {% for article in user_articles %}
          <li>
            <a href="{% url 'blog:article' article.id %}"> {{article.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock%}
